body {
    font-family: Arial, sans-serif;
}

.quiz-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.question {
    font-weight: bold;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.correct-answer {
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
body{
    background: url('../images/exam.jpg');
    background-size:auto
}